@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@* the fun starts here *@

<!-- Banner -->
<section id="banner">
    <header>

        <p>@CurrentPage.sliderDescription</p>
    </header>
</section>
@{
    var selection = CurrentPage.Children.Where("Visible");
}
<!-- Carousel -->
<section class="carousel">
    <div class="reel">
        @foreach (var subitem in selection)
        {
            <article>
                <a href="#" class="image featured">
                    <img src="@subitem.image.Url" alt="" /></a>
                <header>
                    <h3><a href="#">@subitem.title</a></h3>
                </header>
                <p>@subitem.description</p>
            </article>
        }
    </div>
</section>

<!-- Main -->
<div class="wrapper style2">

    <article id="main" class="container special">


        <a href="#" class="image featured">
            <img src="@CurrentPage.articleImage.Url" alt="" /></a>

        @CurrentPage.articleDescription
        <footer>
            <a href="#" class="button">Continue Reading</a>
        </footer>
    </article>

</div>

<!-- Features -->
<div class="wrapper style1">

    <section id="features" class="container special">
        <header>
            <h2>@CurrentPage.newsTitle</h2>
            <p>@CurrentPage.newsDescription</p>
        </header>
        <div class="row">
            @{ var FeaturedNews = Umbraco.Content(1087).Children.Where("isFeatured");
               foreach (var item in FeaturedNews)
               {
                  
                <article class="col-4 col-12-mobile special">
                    <a href="@item.Url" class="image featured">
                        <img src="@item.newsImage.Url" alt="" /></a>
                    <header>
                        <h3><a href="@item.Url">@item.newsTitle</a></h3>
                    </header>
                    <p>
                        @item.newsDescription
                    </p>
                </article>  
               }
            }

        </div>
    </section>

</div>

